<% if @topic.errors.any? %>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :placeholder => "Title of Topic", :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :category_ids, "Category" %> <br />
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>

<div class="form-group">
  <%= f.label :content, "內容" %>
  <%= f.text_area :content, :rows => 10, :class=> "form-control" %>
</div>