<h1><%= @topic.title %></h1>

<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<div class="categories">
  <% @topic.categories.each do |c| %>
    <span class="badge"><%= c.name %></span>
  <% end %>
</div>

<hr>
<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <%= link_to user_path(@topic.user) do %>
        <%= avatar_image(@topic.user) %>
      <% end %>

    </div>
    <div class="media-body">
    	<div class="topic_header">
				<%= link_to @topic.user.username, user_path(@topic.user) %> posted on <%= @topic.created_at.to_s(:short) %>

				<% if current_user %>
					<%= link_to new_topic_comment_path(@topic), :class => "btn btn-primary pull-right" do %>
            <span class="glyphicon glyphicon-plus"></span> Reply
          <% end %>
        <% end %>

				<% if @topic.can_manage_by?(current_user) %>
				  <%= link_to "Edit", edit_topic_path(@topic), :class => "btn btn-default pull-right" %>

					<%= link_to "Delete", topic_path(@topic), :method => :delete, :data => { :confirm => "Are you sure to delete?" }, :class => "btn btn-danger pull-right" %>
				<% end %>

    	</div>
			<p><%= simple_format @topic.content %></p>
    </div>
  </li>
</ul>

<% if @topic.comments %>
	<h3>Comments</h3>
	<ul class="media-list">

		<% @topic.comments.each do |comment| %>

		  <li class="media">
		    <div class="media-left">
          <%= link_to user_path(comment.user) do %>
            <%= avatar_image(comment.user) %>
          <% end %>
		    </div>
		    <div class="media-body">
		    	<div class="comment_header">
						<%= link_to comment.user.username, user_path(comment.user) %> replied on <%= comment.created_at.to_s(:short) %>

						<% if comment.can_manage_by?(current_user) %>
							<%= link_to "Edit", edit_topic_comment_path(@topic, comment), :class => "btn btn-default btn-xs pull-right" %>

							<%= link_to "Delete", topic_comment_path(@topic, comment), :method => :delete, :data => { :confirm => "Are you sure to delete?" }, :class => "btn btn-danger btn-xs pull-right" %>

						<% end %>

		    	</div>
		      <p><%= simple_format comment.content %></p>
		    </div>
		  </li>
	  <% end %>
	</ul>
<% end %>


