<h1><%= @topic.title %></h1>

<% @topic.categories.each do |c| %>
	<span class="badge"><%= c.name %></span>
<% end %>

<hr>
<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <%= link_to user_path(@topic.user) do %>
        <img class="media-object gravatar" src="http://www.gravatar.com/avatar/<%= @topic.user.md5hash %>" alt="<%= @topic.user.username %>">
      <% end %>

    </div>
    <div class="media-body">
    	<div class="topic_header">
				<%= link_to @topic.user.username, user_path(@topic.user) %> posted on <%= @topic.created_at.to_s(:short) %>

				<% if current_user %>
					<%= link_to "Reply", new_topic_comment_path(@topic), :class => "btn btn-primary pull-right" %>

					<% if current_user == @topic.user %>
						<%= link_to "Edit", edit_topic_path(@topic), :class => "btn btn-default pull-right" %>
					<% end %>
					<% if current_user.admin? %>
						<%= link_to "Delete", topic_path(@topic), :method => :delete, :data => { :confirm => "Are you sure to delete?" }, :class => "btn btn-danger pull-right" %>
					<% end %>

				<% end %>
    	</div>
			<p><%= simple_format @topic.content %></p>
    </div>
  </li>
</ul>

<% if @topic.comments %>
	<h3>Comments</h3>
	<ul class="media-list">

		<% @topic.comments.each do |comment| %>

		  <li class="media">
		    <div class="media-left">
          <%= link_to user_path(comment.user) do %>
            <img class="media-object gravatar-sm" src="http://www.gravatar.com/avatar/<%= comment.user.md5hash %>" alt="<%= comment.user.username %>">
          <% end %>
		    </div>
		    <div class="media-body">
		    	<div class="comment_header">
						<%= link_to comment.user.username, user_path(comment.user) %> replied on <%= comment.created_at.to_s(:short) %>

						<% if current_user %>
							<% if current_user == comment.user %>
								<%= link_to "Edit", edit_topic_comment_path(@topic, comment), :class => "btn btn-default btn-xs pull-right" %>

							<% end %>
							<% if current_user.admin? %>
								<%= link_to "Delete", topic_comment_path(@topic, comment), :method => :delete, :data => { :confirm => "Are you sure to delete?" }, :class => "btn btn-danger btn-xs pull-right" %>
							<% end %>

						<% end %>

		    	</div>
		      <p><%= simple_format comment.content %></p>
		    </div>
		  </li>
	  <% end %>
	</ul>
<% end %>


