<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <%= link_to user_path(@user) do %>
        <%= avatar_image(@user) %>
      <% end %>

    </div>
    <div class="media-body">
      <h1><%= @user.username %></h1>
      <p><%= @user.bio %></p>
    </div>
  </li>
</ul>

<div class="row">
  <div class="col-md-6">
    <h2>Topics</h2>
    <% @user.topics.order("updated_at DESC").each do |t| %>
      <div class="profile">
        <h4><%= link_to t.title, topic_path(t) %></h4>
        <p><%= truncate(t.content, :length => 200) %></p>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>Comments</h2>
    <% @user.comments.order("updated_at DESC").each do |c| %>
      <div class="profile">
        <h4><%= link_to c.topic.title, topic_path(c.topic) %></h4>
        <p><%= truncate(c.content, :length => 200) %></p>
      </div>
    <% end %>
  </div>
</div>


